
.list-container {
  display: inline-block;
  vertical-align: top;
  width: 450px;
  margin-right: 24px;
  margin-bottom: 24px;
  .list-container-header {
    padding-bottom: 0;
  }
  .list-container-footer {
    padding-top: 0;
    .select-controler,
    .input-controler {
      margin-top: 8px;
      width: calc(100% - 48px);
    }
  }
}
