ol, ul {
  padding-left: 30px;
  list-style: none;
}
a{
  color : black;
  text-decoration: none;
}
a:hover{
  color : #4791db;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  box-shadow: 10px 5px 5px #A0A6AC;
  background: #DEE1F4;
  color : #4791db;
  border: 2px solid #115293;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 50px;
  height: 50px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 50px;
}

.square:focus {
  outline: none;
}

.square:hover {
  outline: none;
  background-color: #115293;
}


.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
  margin: 30px;
}

.game-info {
  margin-left: 50px;
}
